**/node_modules
**/dist
**/build
.idea
config.yaml

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/yarn.lock

**/.DS_Store

# server
server/src/common/constants.ts
**/graph

# model
model/config
model/**/*.pyc
model/venv
model/.idea
model/**/__pycache__
**/.qiniu*.json
**/.supervised_graph